pre {
    height: auto;
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

#drop_block {
    width: 400px;
    height: 200px;
    background-color: #e0fbfc;
    border: 2px dashed #293241;
    margin-left: auto;
    margin-right: auto;
}

#container {
    border: dashed #293241;
    width: 800px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.row {
    display: flex;
}

.top-buffer {
    margin-top: 20px;
}

.row button {
    width: 50px;
}

.draggable {
    width: 80px;
    height: 80px;
    padding: 5px;
    display: block;
    float: left;
    border-radius: 50%;
    margin: 10px;
    font-size: .9em;
    text-align: center;
    border: solid black 1px;
    background-color: #1b4965;
}

.draggable p {
    line-height: 80px;
    margin: 0;
    color: white;
}

.ui-droppable h3 {
    text-align: center;
    line-height: 180px;
    visibility: hidden;
}

.ui-droppable-active h3 {
    visibility: visible;
}

.buttons-container {
    position: absolute;
    top: 8px;
    left: 8px;
}

.pre-wrapper {
    position: relative;
}

.pre-wrapper pre {
    padding-top: 25px;
}

.pre-wrapper .copy-snippet {
    position: absolute;
    right: 20px;
    top: 10px;
}

.pre-wrapper .copy-snippet:disabled {
    color: #555;
}

.draggable-6 {
    background-color: #eaa7a2;
}

.draggable-8 {
    background-color: #e76e65;
}

.draggable-11 {
    background-color: #e9291b;
}